p,h1,a{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
body {
    background-image: url('./resource/background/102.jpg');
    background-color: lightgray; /* This color will show if the image is missing */
    background-size: cover;
    background-attachment: fixed;
}
